body{
    width:1000px;
    background-color:blueviolet;
}

.bigSquare{
    width:500px;
    height:500px;

    background-color:rebeccapurple;

    margin: 300px 250px;

    border: black solid 2px;
}

.smallSquare{
    width:100px;
    height:100px;
    background-color:aqua;

    margin-left:200px;
    margin-top:50px;

    border:1px solid white;
}

.middleSquare{
    width:300px;
    height:100px;
    background-color:palegoldenrod;
    border: 1px dotted white;

    margin-left:100px;
    margin-top:50px;
}

.bottomSquare{
    width:100px;
    height:100px;
    background-color:palevioletred;

    margin-left:200px;
    margin-top:50px;

    border:white 1px solid;
}